<!DOCTYPE html>
<html lang="en" ng-app="tasks">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quick</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.js"></script>
    <!--<script src="js/angular-hateoas.js"></script>-->

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div ng-controller="mainCtrl" id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <!-- <a href="#">
                        Add a new category 
                    </a> -->
                    
                    <!-- <a href="#" style="display: inline">
                        <i class="fa fa-angle-double-right fa-1x"></i>Add a new category
                    </a> -->
                    
                    <!-- <a href ng-click="showCategoryInput = true; addCategoryClick();" ng-init="showCategoryInput" style="display: inline">
                        <i class="fa fa-angle-double-right fa-1x"></i>Add a new category
                    </a> -->
                    
                    <a href ng-show="!showCategoryInput" ng-click="showCategoryInput = true; addCategoryClick();" style="display: inline">
                        <i class="fa fa-angle-double-right fa-1x"></i>Add a new category
                    </a>
                    
                    
					
					<!-- <input ng-show="showCategoryInput" class="form-control" placeholder="Category name"></input> -->
					
					<form id="category-formxx" ng-show="showCategoryInput" ng-submit="showCatgeoryInput = false; addCategory();">
						<input id="new-categoryxx" class="form-control" placeholder="Category name" ng-model="newCategory" ng-disabled="saving" autofocus>
					</form>
					
					                    
                    
                    <!-- <span style="color:bisque; display: inline;">Add</span> -->
                    
                    
                </li>
                
                <!-- <div ng-show="showCatgeoryInput" class="popup"> -->
                <div ng-hide="!showCatgeoryInput" class="popup">
                <!-- <div class="popup"> -->
                	<form id="category-form" ng-submit="showCatgeoryInput = false; addCategory();">
						<input id="new-category" class="form-control" placeholder="Category name" ng-model="newCategory" ng-disabled="saving" autofocus>
					</form>
				</div>
                
                <!-- <li style="color:bisque; display: inline;">
                    <span style="color:bisque; display: inline;"><a href>Add</a></span>
                </li> -->
                
                

                <div ng-repeat="category in categories">
                	<li>
                		<!-- <span><i class="fa fa-angle-down"></i></span> -->
                		<!-- <span style="color:bisque; font-size:25px;">{{ category.name}}</span> -->
                		
                		
                		<span style="color:bisque; font-size:25px;">
                			<!-- <a href style="display: inline">+</a> -->
                		
						<a href ng-click="showProjectInput[category.id] = true" ng-init="showProjectInput[category.id]" style="display: inline">+</a>
						
						<!-- <button ng-click="showPopup = true">Show Popup</button> -->
				        	
                			{{ category.name}}
                			
                		</span>
                		

                		<!-- <a href="#" class="btn btn-large btn-primary" rel="popover"></a> -->

                	</li>
                	
                	<!-- <div ng-show="showPopup" ng-hide='saveField' class="popup" ng-mouseleave='showPopup = false'>
			            <input type="text">
			        </div> -->
                	
                	<div ng-show="showProjectInput[category.id]" class="popup">
	                	<form id="project-form" ng-submit="showProjectInput[category.id] = false; addProject(category.id);">
							<input id="new-project" class="form-control" placeholder="Project name" ng-model="newProject[category.id]" ng-disabled="saving" autofocus>
						</form>
					</div>
                	
                	<li ng-repeat="project in projects" ng-show="project.category_id == {{category.id}}">
	                	<a href ng-click="loadTasks(project.id)">{{ project.name }} <p class="badge" style="display: inline">{{projectTaskCounts[project.id]}}</p></a>
	                </li>
                </div>

                <!-- <li ng-repeat="category in categories" class="sidebar-category">
                	{{ category.name}}
                </li> -->


                <!-- <li ng-repeat="x in projects">
                	<a href="#">{{ x.name }}</a>
                </li> -->


            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

	<!-- Static navbar -->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index.html"><i class="fa fa-home fa-1x"></i></a>
          <a class="navbar-brand" href="./index.html"><i class="fa fa-user-plus fa-1x"></i></a>
          <a class="navbar-brand" data-toggle="modal" href="#signup" data-target=".bs-modal-sm"><i class="fa fa-user-plus fa-1x"></i></a>
          
           <div style="float: left" class="dropdown">
	          <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-plus fa-1x"></i></a>
	          
	          <div class="dropdown-menu" class="padding: 15px; padding-bottom: 0px;">
		        
		        <div class="tab-pane fade active in" id="register">
		            <form class="form-horizontal">
		            <fieldset>
		            <!-- Sign In Form -->
		            <!-- Text input-->
		            <div class="control-group">
		              <label class="control-label" for="firstname">First name:</label>
		              <div class="controls">
		                <input required="" id="firstname" name="firstname" type="text" class="form-control" placeholder="First name" class="input-medium" required="">
		              </div>
		            </div>
		            
		            <div class="control-group">
		              <label class="control-label" for="lastname">Last name:</label>
		              <div class="controls">
		                <input required="" id="lastname" name="lastname" type="text" class="form-control" placeholder="Last name" class="input-medium" required="">
		              </div>
		            </div>
		            
		            
		            <div class="control-group">
		              <label class="control-label" for="email">Email:</label>
		              <div class="controls">
		                <input required="" id="email" name="email" type="text" class="form-control" placeholder="user@gmail.com" class="input-medium" required="">
		              </div>
		            </div>
		
		            <!-- Password input-->
		            <div class="control-group">
		              <label class="control-label" for="passwordinput">Password:</label>
		              <div class="controls">
		                <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
		              </div>
		            </div>
		
		            <!-- Button -->
		            <div class="control-group">
		              <label class="control-label" for="register"></label>
		              <div class="controls">
		                <button id="register" name="register" class="btn btn-success">Save</button>
		              </div>
		            </div>
		            </fieldset>
		            </form>
		        </div>
		        
	          </div>
	          
	        <!-- </li> -->
          </div>
         
          
          
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
            <li><a href="#"><i class="fa fa-sign-out fa-1x"></i>Sign Out</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="#">Sign out</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

		<!-- <div class="container"> -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            <!-- <div class="jumbotron"> -->
                <div class="row">
                    <!-- <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div> -->

                    <!-- <h4 class="text-center">Tasks</h4>
			         <div class="well" style="max-height: 300px;overflow: auto;">
			     		<ul class="list-group checked-list-box">
			     			<li ng-repeat="x in tasks" class="list-group-item"> {{ x.name }}</li>
			             </ul>
			         </div> -->

                </div>
            </div>


			<section ng-show="selectedProjectId" ngCloak>
				<h4 class="text-center">Tasks</h4>
				<form id="task-form" ng-submit="addTask()">
					<input id="new-task" class="form-control" placeholder="What do you need to complete?" ng-model="newTask" ng-disabled="saving" autofocus>
				</form>

		         <ul class="list-group checked-list-box">
	     			<li ng-repeat="task in tasks" class="list-group-item">
	     				<div class="view">
							<input class="toggle" type="checkbox" ng-model="task.done" ng-change="toggleTaskDone(task)">
							
							<label ng-dblclick="startEditingTask(task)">
								  <span ng-hide="task.editing">{{task.name}}</span>
						          <form ng-submit="doneEditingTask(task)" ng-show="task.editing">
						              <input class="form-control" ng-model="task.name" ng-blur="doneEditingTask(task)" ng-focus="task== editedTask">
						          </form>
							</label>
							
							
							
							<div class="pull-right">

								<!-- <div class="form-group">
								  <label for="sel1">Select list:</label> -->
								  <!-- <select title="Unassigned">
								    <option>Croydon Dias</option>
								    <option>Mannit Bilakhia</option>
								    <option>Rishabh Sharma</option>
								    <option>Alina Maydybura</option>
								  </select> -->
								<!-- </div> -->

								<!-- <select id="test" name="test">
								    <option value="SelectBoxIt is:">SelectBoxIt is:</option>
								    <option value="a jQuery Plugin">a jQuery Plugin</option>
								    <option value="a Select Box Replacement">a Select Box Replacement</option>
								    <option value="a Stateful UI Widget">a Stateful UI Widget</option>
								  </select> -->

								  <!-- <select ng-model="selectedItem" ng-change="changeEmployeeOnTask(task, selectedItem)" ng-init="selectedItem = selectedItem || employees[0].value"> -->

								  <!-- <select ng-model="selectedItem[task.id]" ng-change="changeEmployeeOnTask(task, selectedItem[task.id])"
								  	ng-init="selectedItem[task.id] = selectedItem[task.id] || employees[0].value"> -->


								  <!-- <select ng-model="selectedItem" ng-change="changeEmployeeOnTask(task, selectedItem)"
								  	ng-init="selectedItem = employees[0].id"> -->

								  <!-- <select ng-model="selectedItem" ng-change="changeEmployeeOnTask(task, selectedItem)"
								  	ng-init="selectedItem = getEmployeeForTask(task).id">

							        <option ng-repeat="item in employees" value="{{item.id}}">{{item.firstName}} {{item.lastName}}</option>
							      </select> -->

								<select select-box ng-model="selected" ng-change="changeEmployeeOnTask(task, selected.id)"
									ng-init="selected = getEmployeeForTask(task)"
									ng-options="item.firstName + ' ' + item.lastName for item in employees track by item.id"></select>

								<a href ng-click="removeTask(task)" class="destroy"><i class="content-cross fa fa-times fa-2x"></i></a>
							</div>
						</div>
	     			</li>

	             </ul>
	             <span><i>{{tasksRemaining()}} items left</i></span>
	             
	             
			</section>


            <!-- <div class="col-xs-6">
		         <h4 class="text-center">Tasks</h4>
		         <div class="well" style="max-height: 300px;overflow: auto;">
		     		<ul class="list-group checked-list-box">
		     			<li ng-repeat="x in tasks" class="list-group-item"> {{ x.name }}</li>
		             </ul>
		         </div>
		     </div> -->

        </div>
        <!-- /#page-content-wrapper -->
        
        <footer class="footer">
	      <div class="container">
	      	<div ng-show="selectedProjectId" class="text-center" ngCloak>
	        	<p class="text-muted" style="font-size: 70%">Double click a task to edit it.</p>
	        </div>
	      </div>
	    </footer>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/app.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $('a[rel=popover]').popover({
        html: 'true',
    placement: 'right'
    })
    </script>

</body>

</html>
